<ion-content class="ion-padding ion-text-center">

<form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
  <ion-item>
    <ion-label position="floating">Titulo</ion-label>
    <ion-input formControlName="title" type="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Nombre</ion-label>
    <ion-input formControlName="name" type="text" required></ion-input>
  </ion-item>
  <ion-list>
    <ion-radio-group
      formControlName="category"
      value="http://lorempixel.com/400/200/nature/"
      required
    >
      <ion-list-header>
        <ion-label>Eliga una categoría</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Naturaleza</ion-label>
        <ion-radio
          slot="end"
          value="http://lorempixel.com/400/200/nature/"
        ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Ciudades</ion-label>
        <ion-radio
          slot="end"
          value="http://lorempixel.com/400/200/city/"
        ></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Deportes</ion-label>
        <ion-radio
          slot="end"
          value="http://lorempixel.com/400/200/sports/"
        ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Gatos</ion-label>
        <ion-radio
          slot="end"
          value="http://lorempixel.com/400/200/cats/"
        ></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button class="ion-margin-top" type="submit" expand="block" color="secondary"> Create</ion-button>
</form>
</ion-content>
